@import '../../../styles.scss';

.cell {
    width: 20px;
    height: 20px;
    // border: 1px solid $grey;
    // float: left;

    &.empty {
        background-image: url('../../../assets/grass-tile.png');
    }

    &.obstacle {
        background-image: url('../../../assets/water-tile.png');
    }
    
    &.forest {
        background-image: url('../../../assets/forest-tile.png');
    }

    &.road {
        background-image: url('../../../assets/road-tile.png');
    }

    &.start {
        background-image: url('../../../assets/start-tile.png');
    }

    &.end {
        background-image: url('../../../assets/finish-tile.png');
    }

    &.path-possiblepath {
        background-image: url('../../../assets/possible-path-tile.png');
    }

    &.path-confirmedpath {
        background-image: url('../../../assets/path-tile.png');
    }
}