$grey: rgb(172, 178, 197);

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid $grey;
    float: left;

    &.transparent {
        background: transparent;   
    }

    &.grey {
        background: $grey;
    }

    &.yellow {
        background: rgb(243, 243, 128);
    }

    &.blue {
        background: rgb(112, 175, 214);
    }

    &.green {
        background: rgb(93, 160, 93);
    }

    &.red {
        background: rgb(221, 96, 96);
    }
}