@import '../../../styles.scss';


@mixin path($colour){
    &.path-possiblepath {
        background: darken($colour, 15%);
    }

    &.path-confirmedpath {
        background: lighten($colour, 15%);
        border-radius: 50%;
    }
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid $grey;
    float: left;

    &.empty {
        background: $grass;
        @include path($grass);
    }

    &.obstacle {
        background: $river;
        @include path($river);
    }
    
    &.forest {
        background: $forest;
        @include path($forest);
    }

    &.road {
        background: $road;
        @include path($road);
    }

    &.start {
        background: rgb(100, 23, 202);
    }

    &.end {
        background: rgb(177, 19, 19);
    }
}