<div>
  <h2>Actions</h2>
  <div>
    <label>Diagonal movement</label>
    <input 
      type="checkbox" 
      [ngModel]="allowDiagonalMovement"
      (ngModelChange)="setAllowDiagonalMovement($event)">
  </div>
  <div>
    <button (click)="findPath()">Find Path!</button>
  </div>
  <div>
    <button (click)="reset()">Reset Grid</button>
  </div>
  <div>
    <button (click)="clear()">Clear Path</button>
  </div>
</div>
<div class="palette">
  <h2>Palette</h2>
  <button class="forest" [ngClass]="{'active': isForestBrushActive}" (click)="setForestBrush()">Forest</button>
  <button class="river" [ngClass]="{'active': isRiverBrushActive}" (click)="setRiverBrush()">River</button>
  <button class="road" [ngClass]="{'active': isRoadBrushActive}" (click)="setRoadBrush()">Road</button>
  <button class="grass" [ngClass]="{'active': isGrassBrushActive}" (click)="setGrassBrush()">Grass</button>
</div>